# CI/CD
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential

# Author : Bayu Dwiyan Satria
# Contact : bayudwiyansatria@gmail.com / +62-823-9602-9583
# Site : https://www.bayudwiyansatria.com

name: 'Library-Java-Core'

trigger: none
pr:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  displayName: 'Maven Build $(Build.BuildNumber)'
  inputs:
    mavenPomFile: 'pom.xml'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    testRunTitle: 'Maven Test'
    codeCoverageToolOption: 'JaCoCo'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false
    checkStyleRunAnalysis: true
    pmdRunAnalysis: true
    findBugsRunAnalysis: true